


/* .user-main{
    grid-area: user;
    border-bottom: solid 5px #e5e5e5;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
        "pic info";
} */

.imageContainer{
    grid-area: pic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basicUserProfile {
    height: 50%;
    width: 50%;
}

.userDetail{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-email{
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 10px;
}

.placeImg{
    width: 200px;
    height: 200px;
}

.Reviews{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.title{
    font-size: 30px;
    margin-bottom: 20px;
}

.review-content{
    display: grid;
    /* border: solid pink; */
    background-color: #e5e5e5;
    border-radius: 10px;
    /* padding-left: 50px; */
    /* margin-left: 100px; */
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
        "pic info";
}

.review-img{
    grid-area: pic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-container{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.reviewBody{
    padding-bottom: 10px;
}

.History{
    grid-area: order;
    padding-top: 10px;
    padding-left: 10px;
}

.No-Reviews{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-container{
    max-width: 700px;
    min-height: 400px;
    margin: 30px auto;
    display: flex;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.tabs-container .tabs {
    width: 200px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.tabs-container .tabs .tab {
    padding: 24px 32px;
    background-color: #222;
    cursor: pointer;
    font-weight: bold;
}

.tabs-container .tabs .tab.active {
    background: #f6fdff;
    color: #222;
}

.tabs-container .content-container {
    background: #f6fdff;
    width: 100%;
}

.tabs-container .content-container .content {
    display: none;
}

.tabs-container .content-container .content.active {
    display: block;
}