

.basicUserProfile{
    height: 300px;
    width: 300px;
}

.user-page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "user"
    "reviews"
    "order";
}

.user-main{
    grid-area: user;
    border-bottom: solid 5px #e5e5e5;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
        "pic info";
}

.imageContainer{
    grid-area: pic;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDetail{
    grid-area: info;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-email{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}

.placeImg{
    width: 200px;
    height: 200px;
}

.Reviews{
    grid-area: reviews;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 5px #e5e5e5;
}

.title{
    font-size: 30px;
}

.review-content{
    display: grid;
    padding-bottom: 20px;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
        "pic info";
}

.review-img{
    grid-area: pic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-container{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.reviewBody{
    padding-bottom: 10px;
}

.History{
    grid-area: order;
}
