.main-footer{
    position: relative;
    background-color: #e5e5e5;
    left: 0;
    bottom: 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}