

.landing-list{
    /* border: solid black; */
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: grid;
}

.landing-map{
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-info{
    padding-top: 5px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "name rate"
    "city price";
}

.landing-placeName{
    grid-area: name;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

.landing-cityState{
    grid-area: city;
    color: black;
    padding-left: 10px;
}

.landing-rate{
    grid-area: rate;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bold;
}

.landing-price{
    grid-area: price;
    padding-top: 4px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.landing-image{

}

.landing-photo{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

.main-landing-container{
    background-color: #e5e5e5;
    width: 400px;
    height: 500px;
    padding: 5px;
    border-radius: 5px;
}

.top-img{

}

.landing-top-img{

}

.landing-image{

}
