.payBtn1{
    width: 75%;
    /* display: grid; */
    /* align-items: center; */
    border-radius: 15px;
}

.payBtn-container{
    display: grid;
    justify-items: center;
    /* border-radius: 15px; */
}
