.profile-dropdown {
  position: absolute;
  right: 10px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
