/* html,body {
  margin:0;
  padding:0
} */

.profile-dropdown {
  position: absolute;
  z-index: 1;
  border: 1px solid #f2780c;
  background-color: whitesmoke;
  padding-left: 12px;
  padding-right: 10px;
  right: 20px;
  width: fit-content;
  /* height: 100px; */
  border-radius: 10px;
  display: flex;
}

.profile-btn-content{
  /* background-color: palegoldenrod; */
  list-style-type: none;
  padding-right: 5px;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}

.nav-container{
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.nav-listBtn{
  padding-right: 20px;
}

.nav-cartBtn{
  padding-left: 5px;
  padding-right: 20px;
}

.nav-profile{
  padding-left: 10px;
  cursor: pointer;
}

.nav-right{
  display: flex;
  /* background-color: cadetblue; */
}

.user-logoutBtn{
  /* display: flex; */
  /* background-color: coral; */
}

.main-page-tooltip {
  position: absolute;
  bottom: 0.1;
  right: 0.5;
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  opacity: 0.5;
}

.nav-homeBtn{
  /* position: absolute; */
  /* background-color: cornflowerblue; */
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
}

.nav-listBtn:hover .main-page-tooltip{
  visibility: visible;
}

.nav-cartBtn:hover .main-page-tooltip{
  visibility: visible;
}

.nav-homeBtn:hover .main-page-tooltip{
  visibility: visible;
}

.profile-content-btn{
    cursor: pointer;
    height: 25px;
    width: 110%;
    /* height: fit-content; */
    border-radius: 5px;
    background-color: #f0b52b;
}

.profile-content-btn:hover{
  background-color: #f2780c;
  /* color: white; */
  transition-delay: 150ms;
  transition-property: background-color, color;
}

.profile-li-btn-content{
  padding-bottom: 5%;
  padding-top: 5%;
}