#root{
    background-color: #eaeaea;
}

.cartList{
    border-top: solid #e5e5e5;
    /* border-bottom: solid #e5e5e5; */
    /* background-color: white; */
    border-width: 1px ;
    /* border-radius: 5px; */
    padding: 10px;
    margin: 25px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: .7fr 1.3fr;
        grid-template-rows: 200px;
        gap: 0px 0px;
        grid-template-areas:
        "pic content";
}

.cart-item-pic{
    grid-area: pic;
    /* background-color: slategray; */
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-place-img{
    max-width: 250px;
}

.cart-item-content{
    grid-area: content;
    /* background-color: #f0b52b; */
    margin-left: 20px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-template-areas:
        "main"
        "qtty"
        "total";
}

.item-list{
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.item-list-end{
    border-top: solid #e5e5e5;
    border-width: 1px;
    padding-top: 15px;
    display: grid;
    justify-items: end;
    font-size: 20px;
}

.main-heading{
    grid-area: main;
    /* border: solid saddlebrown; */
    display: grid;
    align-items: end;
    /* justify-content: space-around; */
    margin-top: 20px;
    /* margin-left: 10px;
    padding-left: 5rem; */
    font-weight: 700;
    font-size: 20px;
}

.qty{
    /* grid-area: qtty; */
    border-right: solid #e5e5e5;
    padding-right: 15px;
    margin-right: 10px;
}

.item-total{
    grid-area: total;
    /* border: solid slateblue; */
    display: grid;
    align-items: start;
    /* justify-content: space-around; */
    padding-right: 7%;
    /* justify-items: end; */
    font-weight: 700;
}

.cart-items-buttons{
    grid-area: qtty;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.updateBtn{
    border-right: solid #e5e5e5;
    padding-right: 15px;
    margin-right: 10px;
}

.delbtn{
    border-right: solid #e5e5e5;
    padding-right: 15px;
    margin-right: 10px;
}

.cart-main-container{
    /* border: solid sandybrown; */
    /* background-color: #eaeded; */
    padding-top: 50px;
}

.payment{
    border: solid #e5e5e5;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    max-width: 400px;
    max-height: 100px;
    position: sticky;
    top: 1rem;
    /* min-height: fit-content; */
    margin-left: 30px;
    margin-right: 10px;
    padding-left: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.9rem 20px;
    grid-template-areas:
        "pay pay"
        "item qty"
        "cart total";
}

.payBtn{
    grid-area: pay;
    height: 30px;
    /* max-width: 300px; */
    /* display: grid; */
    /* background-color: aquamarine; */
    margin-left: 30px;
}

.payCart{
    grid-area: cart;
    /* background-color: antiquewhite; */
    padding-left: 50%;
}

.payTotal{
    grid-area: total;
    /* background-color: blueviolet; */
    padding-left: 45%;
}

.payItem {
    grid-area: item;
    /* background-color: aquamarine; */
    padding-left: 50%;
}

.payQty {
    grid-area: qty;
    /* background-color: lightcoral; */
    padding-left: 50%;
}

.columns {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". .";
    }

.empty-cart{
    /* position: relative; */
    /* padding-top: ; */
}

.inner-empty-cart{
    padding-top: 10px;
    padding-bottom: 15px;
}

.empty-cart-content{
    background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.empty-cart-text{
    display: grid;
    justify-content: space-around;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 10px;
}

.empty-cart-button{
    margin-top: 24px;
    display: grid;
    justify-content: space-around;
}

.start-shopping{
    background-color: #f0b52b;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.start-shopping:hover{
    background-color: #f2780c;
    color: white;
    transition-delay: 150ms;
    transition-property: background-color, color;
}

.cart-main-title {
    /* background-color: blue; */
    /* background-color: white; */
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.placeList-main{
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 5px;
    margin-right: 20px;
    border-radius: 5px;
    /* border-top: solid #e5e5e5; */
    /* color: wheat; */
    background-color: white;
    /* display: grid;
    justify-items: center; */
}

.placeList-inner{
    /* background-color: #f2780c; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
}

.placeList-each{
    border: solid #e5e5e5;
    background-color: white;
    border-radius: 10px;
    /* width: 100%; */
    object-fit: contain;
    max-height: 400px;
    margin-right: 10px;
    margin-left: 15px;
    padding: 10px;
    transition: tranform 450ms;
}

.place-img{
    width: 200px;
    height: 200px;
    padding: 2px;
    margin-bottom: 15px;
}

.suggestion-img{
    /* background-color: #f0b52b; */
    display: grid;
    justify-items: center;
    align-items: center;
}

.row-card{
    max-width: 700px;
    /* background-color: aqua; */
    /* padding-left: 500px; */
    /* margin-left: 300px; */
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}

.row-inner{
    background-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* padding-left: 500px; */
    /* width: fit-content; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.placeList-selected{
    max-height: 650px;
}

.placeList-selected:hover{
    transform: scale(1.09);
}

.placeList-each:hover{
    transform: scale(1.08);
}

.arrowBtn{
    opacity: 0.5;
    cursor: pointer;
}

.arrowBtn:hover{
    opacity: 1;
}

.place-name-empty-cart{
    font-weight: 400;
    font-size: 20px;
    /* width: fit-content; */
    /* background-color: #f0b52b; */
    /* text-decoration: none; */
    padding-left: 2px;
    padding-bottom: 5px;
}

.place-price-empty-cart{
    /* font-weight: 200px; */
    padding-top: 5px;
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 5px;
}

a:link{
    text-decoration: none;
}

a:hover .place-name-empty-cart{
    text-decoration: underline;
}

.empty-cart-main-heading{
    font-weight: 500;
    font-size: 25px;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.cart-suggestion-box{
    /* background-color: darkorchid; */
}

.cart-no-suggestions{
    font-size: 20px;
    padding-top: 20px;
    margin-top: 50px;
}
