.cartList{
    border: solid #e5e5e5;
    border-width: 1px ;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
        "main main main"
        "qtty update del"
        "total total total";
}

.main-heading{
    grid-area: main;
    /* border: solid saddlebrown; */
    display: grid;
    /* justify-content: space-around; */
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 5rem;
    font-weight: 700;
    font-size: 20px;
}

.qty{
    grid-area: qtty;
    /* border: solid orange; */
    display: grid;
    justify-content: center;
}

.item-total{
    grid-area: total;
    /* border: solid slateblue; */
    display: grid;
    /* justify-content: space-around; */
    padding-right: 7%;
    justify-items: end;
    font-weight: 700;
    align-items: center;
}

.updateBtn{
    grid-area: update;
    /* background-color: burlywood; */
    display: grid;
    /* justify-content: space-around; */
    justify-items: end;
}

.delbtn{
    grid-area: del;
    /* background-color: aqua; */
    display: grid;
    /* justify-items: end; */
    justify-items: center;
}

.cart-main-container{
    /* border: solid sandybrown; */
    padding-top: 50px;
}

/* .test{
    background-color: aliceblue;
    width: fit-content;
} */

.cart-Btns{
    /* background-color: blue; */
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". del";
}

.payment{
    border: solid #e5e5e5;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    max-width: 400px;
    max-height: 100px;
    position: sticky;
    top: 1rem;
    /* min-height: fit-content; */
    margin-left: 30px;
    padding-left: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.9rem 20px;
    grid-template-areas:
        "pay pay"
        "item qty"
        "cart total";
}

.payBtn{
    grid-area: pay;
    height: 30px;
    /* max-width: 300px; */
    /* display: grid; */
    /* background-color: aquamarine; */
    margin-left: 30px;
}

.payCart{
    grid-area: cart;
    /* background-color: antiquewhite; */
    padding-left: 50%;
}

.payTotal{
    grid-area: total;
    /* background-color: blueviolet; */
    padding-left: 45%;
}

.payItem {
    grid-area: item;
    /* background-color: aquamarine; */
    padding-left: 50%;
}

.payQty {
    grid-area: qty;
    /* background-color: lightcoral; */
    padding-left: 50%;
}

.columns {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". .";
    }

.empty-cart{
    /* position: relative; */
    /* padding-top: ; */
}

.inner-empty-cart{
    padding-top: 96px;
    padding-bottom: 152px;
}

.empty-cart-text{
    display: grid;
    justify-content: space-around;
}

.empty-cart-button{
    margin-top: 24px;
    display: grid;
    justify-content: space-around;
}

.start-shopping{
    background-color: sandybrown;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    font-weight: 400;
    cursor: pointer;
}

.cart-main-title {
    /* background-color: blue; */
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.placeList-main{
    margin-left: 20px;
    /* color: wheat; */
}

.placeList-each{
    background-color: antiquewhite;
    border: solid sandybrown;
    width: 100%;
    object-fit: contain;
    /* max-height: 100px; */
    max-height: 400px;
    margin-right: 10px;
    transition: tranform 450ms;
}

.place-img{
    width: 200px;
    height: 200px;
}

.row-card{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    /* white-space: nowrap; */
}

/* .row-card:hover{
    overflow-x: scroll;
} */

.row-card ::-webkit-scrollbar{
    display: none;
}

.placeList-selected{
    max-height: 650px;
}

.placeList-selected:hover{
    transform: scale(1.09);
}

.placeList-each:hover{
    transform: scale(1.08);
}
