.main-detail-pg {
    /* display: grid; */
    /* border: solid saddlebrown; */
    /* justify-content: center; */
    padding-left: 15px;
}

.info-container{
    /* border: solid blueviolet; */
}

.place-detail{
    /* border: solid violet; */
    /* color: aqua; */
    font-size: 50px;
    font-weight: 700;
}

.detail-review-address{
    /* border: solid black; */
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    margin-bottom: 30px;

}

.review{
    /* border: solid cadetblue; */
    display: flex;
    align-items: center;
    font-size: 20px;
}

.rev{
    padding-right: 10px;
    border-right: solid #e5e5e5;
}

.address{
    font-size: 20px;
    /* background-color: gray; */
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid #e5e5e5;
    display: flex;
    align-items: center;
}

.price-review-container{
    /* border: solid chartreuse; */
    margin-top: 20px;
    /* margin-left: 40px; */
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "review price";
}

.price-detail{
    grid-area: price;
    margin-top: 20px;
    border: solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    height: 150px;
    /* align-items: center; */
    margin: auto;
    margin-top: 20px;
    margin-right: 5%;
}

.review-detail{
    margin-top: 20px;
    margin-left: 5%;
    grid-area: review;
    background-color: #e5e5e5;
    border-radius: 5px;
    border: solid #e5e5e5;
    display: grid;
    /* justify-content: center; */
    padding-left: 5px;
}


.detail-review-info{
    /* border: solid salmon; */
    display: flex;
    /* justify-content: space-around; */
    font-weight: bold;

}

.detail-single-review{
    /* border-bottom: solid #e5e5e5; */
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail-image{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main rest";
}

.main-pic{
    /* background-color: aquamarine; */
    grid-area: main;
    padding-right: 10px;
    /* height: 500px;
    width: 500px; */
}

.detail-photo{
    height: 500px;
    width: 700px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.all-pic{
    grid-area: rest;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "pic2 pic3"
    "pic4 pic5";
}

.detail-photo2{
    grid-area: pic2;
    height: 200px;
    width: 350px;

}
.detail-photo3{
    grid-area: pic3;
    height: 200px;
    width: 350px;
    border-top-right-radius: 10px;
}
.detail-photo4{
    grid-area: pic4;
    height: 200px;
    width: 350px;

}
.detail-photo5{
    grid-area: pic5;
    height: 200px;
    width: 350px;
    border-bottom-right-radius: 10px;
}

.picEnd{
    display: flex;
    align-items: end;
    margin-bottom: 5px;
}

.add-list{
    padding-top: 20px;
}

.embdedMap{
    margin-left: 5%;
    margin-top: 10px;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;
    margin-bottom: 10px;
}

.map-responsive iframe {
    border: 0;
    height: 100%;
    width: 48%;
    position: absolute;
}