#root{
    background-color: white;
}

.placeList{
    border-top: solid #e5e5e5;
    border-width: 1px;
    /* border-radius: 5px; */
    padding: 10px;
    margin: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
    "pic detail update";
}

.placeList-img{
    grid-area: pic;
    padding-left: 10px;
    /* background-color: navajowhite; */
    display: grid;
    align-items: center;
    justify-content: center;
}

.place-list-name{
    font-size: 25px;
    font-weight: 500;

}

.placeList-detail{
    grid-area: detail;
    /* background-color: greenyellow; */
    display: grid;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.place-list-address{
    font-size: 20px;
}

.place-list-price{
    font-size: 25px;
    font-weight: 500;
}

.placeList-update{
    grid-area: update;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status{
    font-size: 18px;
    padding: 5px;
}

.place-updateBtn{
    /* display: flex; */
    /* border: solid black; */
    margin-bottom: 10px;
}

.place-delBtn{
    /* margin-top: 15px; */
    padding: 15px;
    border-top: solid #e5e5e5;
}

.place-List-img{
    max-width: 250px;
}

.place-list-main{
    /* border: solid slateblue; */
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.place-list-title{
    /* background-color: blueviolet; */
    padding-right: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.place-list-user{
    /* background-color: slategray; */
    padding-left: 20px;
    margin-left: 30px;
    font-size: 20px;
}

.main-empty{
    /* background-color: brown; */
    height: 500px;
    width: 100%;
    /* opacity: 0.5; */
    background: rgba(255, 255, 255, 0.073);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://m.media-amazon.com/images/G/01/nav2/images/jetset/EmptyState_Space_IdeaLists._CB1533074461_.png");
    background-position-x: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.empty-list{
    /* height: 75%;
    width: 90%; */
    /* opacity: 1; */
    font-weight: 900;
    font-size: 40px;
    /* opacity: 1.5; */
    /* color: black; */
    /* background-image: url("https://m.media-amazon.com/images/G/01/nav2/images/jetset/EmptyState_Space_IdeaLists._CB1533074461_.png"); */
}
